*{
    background-color: transparent;
    transition: 1s;


}


/* hidden but still functional scroll bars */
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}

.spacer{
    height: 100px;
}

.my-main {
    height: 700px;
    background-color: rgba(119, 119, 119, 0.3);
    border-radius: 15px;

    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    padding: 20px 40px;
    margin-bottom: 5em;
    filter: drop-shadow(10px 10px 4px rgba(49, 53, 0, 0.2));

    border-top: double;
    border-right: 2px double;
    border-color:rgba(255, 255, 255, 0.5);



}




.mb-3{
    background-color: rgba(119, 119, 119, 0.5);
    border-radius: 15px 15px 10px 8px;

    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);



    border-right: 2px solid;
    border-top: none;
    border-left: none;
    border-color:rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 4px 5px rgba(29, 29, 29, 0.5);


}

.form-control.mb-3{
    color: #fff;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color:transparent;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}




.btn-primary {
    color: #fff;
    background-color: #6e00fd;
    border-color: #6e00fd;
    opacity: 0.9;
}
.btn-primary:hover {
    color: #fff;
    background-color: #a058ff;
    border-color: #a058ff;
    opacity: 0.7;
}

nav{
    height: 50px;
    background-color: rgba(119, 119, 119, 0.1);


    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);

    padding: 20px 40px;

    border-right: 2px solid;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid;
    border-color:rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 5px rgba(29, 29, 29, 0.5);
    z-index: 10000;


}

nav * {
    color:#ebebeb
}

.moon{
    display: inline-block;
    position: absolute;
    height: 50%;
    right: 80px;
    z-index: 100;
}

.sun{
    display: inline-block;
    position: absolute;
    height: 50%;
    right: 120px;
    z-index: 100;
}


.img-container{
    background-image: url(../img/yelocof.png);
    background-size: cover;
    background-position: center;
    height: auto;
    background-color: transparent;


}

/* .jumbotron{
  overflow: hidden;
} */



.modal-content{
    background-color: transparent;
    border: none;
}

.modal-body{
    padding:0;
    margin: 0;
}
.modal-header{
    visibility: hidden;
}

.modal-footer{
    border: none;
    position: relative;
    top: -152px;
    right: 26px;
}

button.btn.btn-primary{
    position: relative;
    top: 200px;
    left:30px;
    z-index: 10;
}


.shop-heading{
    position: relative;
    z-index: 10;
    margin-left: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    top: 150px;
    opacity: 0.8;

}

.shop-heading2{
    position: relative;
    z-index: 10;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    top: 150px;
    opacity: 0.8;
}

.shop-heading3{
    position: relative;
    z-index: 10;
    margin-left: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    top: 150px;
    opacity: 0.8;
}

.shop-heading4{
    position: relative;
    z-index: 10;
    margin-left: 29px;
    margin-top: 40px;
    margin-bottom: -45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
    top: 150px;
    opacity: 0.9;
    line-height: 1;
}

.shop-heading5{
    position: relative;
    z-index: 10;
    margin-left: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    top: 150px;
    opacity: 0.9;
    line-height: 80%;
}

.heading-container{
    margin:0;
    position: relative;
    left: -15px;
    width: auto;
}

.jumbotron{
    height: 100vh;
    z-index: -1;
    position:absolute;
    left:400px;
}


.my-holder{
    position: relative;
    overflow: hidden;


}

.my-img{
    z-index: 5;
    position: absolute;
    bottom: 10%;
}

.shop-img{
    background-size: cover;
    background-position: center;
    height: auto;
    background-color: transparent;
    border-radius: 20px;
    transition: all 1s ease-in-out;


    border-right: 2px solid;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid;
    border-color:rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 5px rgba(29, 29, 29, 0.5);
}

.my-img2{
    z-index: 5;
    position: absolute;
    bottom: 42%;

}

.shop-img:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.04);
    margin: auto;

}


.waves{

    position: sticky;
    width: 200%;
    height: 100%;
    animation: waves 17s linear infinite;
    filter:blur(.3px);
    opacity: 1;
    bottom: 0px;
    z-index: 2;




}

.waves2{

    position: absolute;
    width: 200%;
    height: 100%;
    animation: waves 12s linear infinite;
    filter:blur(.3px);
    opacity: 0.5;
    bottom: 0px;
    z-index: 2;





}



@keyframes waves {
    0%    {
        transform: translateX(0);

    }
    100%{
        transform: translateX(-50%);
    }
}



.my-footer{
    background-image: radial-gradient(circle, #7a00ff, #7d00e7, #7d00d1, #7a00bb, #7600a6, #6d0098, #64018b, #5b017e, #4e0173, #410169, #34005e, #280053);
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    border-top: 1px double;
}

.verybottom{
    background-color: black;
}



.st0{
    display: none;
}





.pulsate-bck,.fab {-webkit-animation:pulsate-bck 4s ease-in-out infinite both;animation:pulsate-bck 4s ease-in-out infinite both}



@-webkit-keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(.9);transform:scale(.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(.9);transform:scale(.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}




.puff-in-center , #main ,h2 {-webkit-animation:puff-in-center 1s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-center 1s cubic-bezier(.47,0.000,.745,.715) both}



@-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}




html {

    --bg: #d18f00;
    --bg-panel: #ebebeb;
    --color-text: #333333;
}

html[data-theme="dark"] {
    --bg: #340079;
    --bg-panel: #4d2a8f;
    --color-text: #b5b5b5;
}

h1 {
    margin: 0;
    color: var(--color-headings);
}

body {
    background-color: var(--bg);
    color: whitesmoke;
    font-family:fantasy;
}

.lightmodes {
    background-color: var(--bg-panel);


}

input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: var(--color-headings);
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;

}


.slide-out-blurred-top{-webkit-animation:slide-out-blurred-top .45s cubic-bezier(.755,.05,.855,.06) both;animation:slide-out-blurred-top .45s cubic-bezier(.755,.05,.855,.06) both}

@-webkit-keyframes slide-out-blurred-top{0%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateY(-1000px) scaleY(2) scaleX(.2);transform:translateY(-1000px) scaleY(2) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}@keyframes slide-out-blurred-top{0%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateY(-1000px) scaleY(2) scaleX(.2);transform:translateY(-1000px) scaleY(2) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}


.roll-in-blurred-left, .img-container{-webkit-animation:roll-in-blurred-left 2s cubic-bezier(.23,1.000,.32,1.000) 1.5s both;animation:roll-in-blurred-left 2s cubic-bezier(.23,1.000,.32,1.000) 1.5s both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-3 15:58:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes roll-in-blurred-left{0%{-webkit-transform:translateX(-1000px) rotate(-720deg);transform:translateX(-1000px) rotate(-720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes roll-in-blurred-left{0%{-webkit-transform:translateX(-1000px) rotate(-720deg);transform:translateX(-1000px) rotate(-720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}



.fade-in,body,h3,p {-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}

/* ----------------------------------------------
* Generated by Animista on 2021-4-4 12:48:26
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


.bounce-top, .fab{-webkit-animation:bounce-top 2s infinite alternate-reverse both;animation:bounce-top 2s infinite alternate-reverse both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-4 13:42:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}